<h2 style="margin-top: 10%;">Welcome to my app display site!</h2>
<div style="text-align: center;">
    <p >
        The idea of this website is to work as a portfolio viewer, with a simple front-end interface. 
        Click through the tabs in the top of the page to view different apps.
    </p>
    <p>
        All applications run via Docker Compose and repo is found on <a href="https://github.com/peterrbt93/AppPortfolio" target="_blank">github/peterrbt93/AppPortfolio</a>.
    </p>
</div>




 